.wp-block-hds-wp-link-list-cards {
  @extend %helsinki-block-spacing;

  .hds-links-list-cards__cards {
    --grid-columns: 1;
    --grid-columns-gap: 0px;

    @extend %helsinki-block-content-spacing;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    gap: var(--grid-columns-gap);

    @include breakpoint('m') {
      --grid-columns: 2;
      --grid-columns-gap: #{spacing('m')};
    }
  } // .hds-links-list-cards__cards

} // .wp-block-hds-wp-link-list-cards

.wp-block-hds-wp-link-list-card {
  --icon-size: 24px;

  background-color: $light-gray;
  margin-bottom: spacing('m');
  padding: spacing('m') spacing('m') spacing('l') spacing('m');

  @include breakpoint('m') {
    margin-bottom: 0;
  }

  .hds-links-list-card__title {
    font-weight: $global-font-weight-medium;
    font-size: 20px;
    margin-top: 0;

    @include breakpoint('m') {
      font-size: 24px;
      margin-bottom: 24px;
    }
  } // .hds-links-list-card__title

  .hds-links-list-card__links {

    .hds-links-list-card__list {
      padding: 0;
      margin-bottom: 0;
    } // .hds-links-list-card__list

    .wp-block-hds-wp-link-list-card-link {
      --line-height: 1.5;

      margin-bottom: spacing('s');
      line-height: var(--line-height);
      font-size: 20px;
      font-weight: $global-font-weight-medium;

      .icon {
        height: var(--icon-size);
        width: var(--icon-size);
        min-width: var(--icon-size);
      }
    } // .wp-block-hds-wp-link-list-card-link

  } // .hds-links-list-card__links

} // .wp-block-hds-wp-link-list-card
