.skip-link {
	--border-width: 2px;
	--border-color: var(--color-white);
	--outline-width: 3px;
	--background-color: #121212;
	--color: var(--color-white);
	--focus-outline-color: var(--background-color);

	word-wrap: normal;
	background-color: var(--background-color);
	border: var(--border-width) solid var(--color-white);
	color: var(--color-white);
	font-weight: 500;
	left: 50%;
	max-width: 90%;
	position: absolute;
	scroll-margin-top: 105px;
	text-align: center;
	text-decoration: none;
	transform: translate(-50%, 0);
	transition: transform ease-out 0.2s;
	width: -moz-max-content;
	width: max-content;
	z-index: 2;

	&:not(:focus) {
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%);
		max-height: 1px;
		max-width: 1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
	}

	&:focus,
	&:active {
		outline: var(--outline-width) solid var(--focus-outline-color);
		outline-offset: 0;
		padding: 8px 24px;
	}

	&:hover {
		text-decoration: underline;
	}
}

@media (prefers-reduced-motion) {
	.skip-link {
		transition: none;
	}
}

.skip-link--map--after,
.skip-link--video--after {
	bottom: 0px;
}

.skip-link--skip-to-main {
	top: 0;
}

.skip-link--skip-to-main:focus,
.skip-link--skip-to-main:active {
	transform: translate(-50%, 102px);
}

.skip-link--map--before:focus,
.skip-link--map--before:active,
.skip-link--video--before:focus,
.skip-link--video--before:active {
	transform: translate(-50%, 24px);
}

.skip-link--map--after:focus,
.skip-link--map--after:active,
.skip-link--video--after:focus,
.skip-link--video--after:active {
	transform: translate(-50%, -24px);
}

@media (min-width: 768px) {
	.skip-link {
		scroll-margin-top: 24px;
	}

	.skip-link--skip-to-main:focus,
	.skip-link--skip-to-main:active {
		transform: translate(-50%, 24px);
	}
}
