.wp-block-hds-wp-timeline {
    position: relative;
	@extend %helsinki-block-spacing;

    .excerpt {
        margin: 0;
    }

    .timeline {
        position: relative;
		margin-left: 0;
        margin-bottom: 0;
        @extend %helsinki-block-content-spacing;
    }

    .wp-block-hds-wp-timeline-card {
        background-color: var(--secondary-color);
        color: var(--secondary-content-color);
        margin-bottom: spacing('s');
        position: relative;
        list-style: none;

        --step-size: 16px;
        --step-numbered-size: 48px;
        --step-top: 40px;
        --step-numbered-top: 24px;
        --step-left: 33px;
        --step-numbered-left: 17px;

        &:before {
            background-color: #000;
            height: calc(100% + var(--spacing-l));
            transform: translateX(-50%) translateX(calc(-.5 * var(--circle-size)));
            width: 2px;
            z-index: 1;
            box-sizing: border-box;
            content: "";
            display: block;
            left: calc(var(--step-left) + var(--step-size) / 2 - 1px);
            position: absolute;
            top: calc(var(--step-top) + 3px);
        }

        &:last-child {
            margin-bottom: 0;

            &:before {
                content: none;
            }
        }

        .content {
            display: flex;
            flex-flow: column;
            padding: spacing('xl') spacing('l') spacing('2-xl') spacing('2-xl');
            position: relative;

            &__inner {

                &--step {
                    width: var(--step-size);
                    height: var(--step-size);
                    left: var(--step-left);
                    background: white;
                    border-radius: 999px;
                    border: 3px solid $black;
                    position: absolute;
                    margin-top: 3px;
                    top: var(--step-top);
                    box-sizing: border-box;
                    z-index: 2;

                    &.numbered {
                        width: var(--step-numbered-size);
                        height: var(--step-numbered-size);
                        left: var(--step-numbered-left);
                        text-align: center;
                        line-height: 48px;
                        top: var(--step-numbered-top);
                        font-weight: $global-font-weight-medium;
                        font-size: 24px;
                        border-width: 2px;

                        & + .content-wrapper {
                            .content__inner--text {
                            }
                        }
                    }
                }

                &--text {
                    padding-left: spacing('l');
                }

                &--button {
                }
            }

            &__heading {
                font-size: 24px;
                font-weight: $global-font-weight-medium;
                margin: 0 0 spacing('s');
                color: var(--secondary-content-color);
            }

            p {
                font-size: rem-calc(18);
                margin: 0 0 spacing('m');
                color: var(--secondary-content-color);
                max-width: none;

                &:last-child {
                    margin: 0;
                }
            }

            .wp-block-buttons {
                margin: 0 0 spacing('m');

                &:last-child {
                    margin: 0;
                }
            }

            &__link {
                background-color: var(--secondary-content-color);
                border-color: var(--secondary-content-color);
                color: var(--primary-content-secondary-color);
            }

            &__link:hover {
                color: var(--secondary-content-color);
                background-color: transparent;
            }

            &__link svg {
                background-color: var(--primary-content-secondary-color);
            }

            &__link:hover svg {
                background-color: var(--secondary-content-color);
            }

            @include breakpoint('m') {
                padding: spacing('l') spacing('l') spacing('l') spacing('2-xl');
                flex-flow: row;
            }

            @include breakpoint('l') {
                padding: spacing('layout-m') spacing('l') spacing('3-xl') spacing('2-xl');
                flex-flow: row;

                &__heading {
                    margin-bottom: spacing('l');
                }

            }

            @include breakpoint('xl') {
                padding: spacing('xl') spacing('l') spacing('layout-m') spacing('2-xl');
                flex-flow: row;

                &__heading {
                    margin-bottom: spacing('s');
                }

            }
        }

        @include breakpoint('m') {
            --step-top: 33px;
            --step-numbered-top: 16px;
        }
    
        @include breakpoint('l') {
            --step-top: 48px;
            --step-numbered-top: 33px;
        }
    
        @include breakpoint('xl') {
            --step-top: 41px;
            --step-numbered-top: 23px;
        }
    
    }
}
