.rns-container {
  --background-color: #{$light-gray};
  --margin-top: #{spacing('l')};
  --margin-bottom: #{spacing('l')};
  --margin-horizontal: calc(50% - 50vw);
  --max-width: 100vw;
  --padding-top: 64px;
  --padding-bottom: var(--padding-top);
  --padding-horizontal: 0;
  --width: 100vw;

  background-color: var(--background-color);
  margin: var(--margin-top) var(--margin-horizontal) var(--margin-bottom);
  max-width: var(--max-width);
  width: var(--width);
  padding: var(--padding-top) var(--padding-horizontal) var(--padding-bottom);

  @include breakpoint('m') {
    --margin-top: #{spacing('l')};
  }

  @media screen and (min-width: #{$global-max-width}) {
    --margin-horizontal: calc(50% - calc(#{$global-max-width} / 2));
    --max-width: #{$global-max-width};
  }

  .rns {

    .rns-plugin {
      font-family: inherit;

      .rns-reactions {

        .rns-header {

          .rns-header-text {
            font-weight: $global-font-weight-medium;
            --line-height: 1.5;
            line-height: 1.5;
            font-size: map-get(map-get( $heading-config, 'h4' ), 'font-size');

            @include breakpoint('l') {
              --line-height: 1.3;
              line-height: 1.3;
              font-size: map-get(map-get(map-get( $heading-responsive-config, 'l' ), 'h4'), 'font-size');
            }

          }

        }

        #rns-reaction-container.reactions {
          gap: 16px 24px;

          .rns-reaction {
            flex-grow: 0;
            padding: 0;

            .rns-reaction-button {
              @extend %hds-button;
              @extend %hds-button--secondary;

              .plus-one, .rns-reaction-count {
                display: none;
              }

              .rns-label {
                font-size: inherit;
                font-weight: inherit;
                color: inherit;
              }
            }

            &.selected {
              .rns-reaction-button {
                background-color: $black;
                color: $white;

                svg {
                  background-color: $white;
                }
              }
            }

          }

        }

      } // .rns-reactions

      .rns-inputs {
        margin-left: -5px;
        margin-right: -5px;
        margin-bottom: -5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;

        form {

          .rns-input {

            * {
              max-width: 860px;
            }

            .rns-input-header {
              font-weight: $global-font-weight-bold;
              --line-height: 1.5;
              line-height: 1.5;
              font-size: map-get(map-get( $heading-config, 'h5' ), 'font-size');

              @include breakpoint('l') {
                font-weight: $global-font-weight-medium;
                font-size: map-get(map-get(map-get( $heading-responsive-config, 'l' ), 'h5'), 'font-size');
              }
            }

            .rns-input-description {
              font-size: inherit;
              --line-height: #{$global-line-height};
              line-height: $global-line-height;
            }

            .rns-textarea-wrapper {
              @extend .hds-text-input;

              textarea {
                font-size: 18px !important;
              }
            }
          }

          .rns-form-submit {
            @extend %hds-button;
            margin-top: 24px;
            opacity: 1;
          }

        }

      } // .rns-inputs

      .rns-shares {

        * {
          max-width: 860px;
        }

        .rns-header {
          font-weight: $global-font-weight-bold;
          --line-height: 1.5;
          line-height: 1.5;
          font-size: map-get(map-get( $heading-config, 'h5' ), 'font-size');

          @include breakpoint('l') {
            font-weight: $global-font-weight-medium;
            font-size: map-get(map-get(map-get( $heading-responsive-config, 'l' ), 'h5'), 'font-size');
          }
        }

        .rns-shares-list {
          display: flex;
          flex-wrap: wrap;
          gap: 0 32px;

          .rns-share {
            padding:0;
            width: auto;

            .rns-share-button {
              display: flex;
              align-items: center;
              border: none;
              gap: 4px;
              background: inherit;
              opacity: 1;

              .icon {
                width: 30px;
              }

              .rns-label {
                font-size: $global-font-size;
                --line-height: #{$global-line-height};
                line-height: $global-line-height;
              }

              &:hover {
                .rns-label {
                  text-decoration: underline;
                  font-weight: $global-font-weight-medium;
                }
              }
            }

          }
        }

      } // .rns-shares

      .rns-footer {
        display: none;
      } // .rns-footer

    } // .rns-plugin
  } // .rns

  &:last-child {
    --margin-bottom: 0;
  }
}
