#sb_instagram {

    overflow: visible !important;
    
	margin-bottom: $paragraph-margin-bottom-small;

	@include breakpoint('m') {
		margin-bottom: $paragraph-margin-bottom-big;
	}

    #sbi_images {
        padding: 0 !important;
        margin-left: -8px !important;
        width: calc(100% + 16px);

        .sbi_item {
            padding: 8px !important;
        }

    }

    #sbi_load {
        float:none;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 16px;

        .sbi_load_btn {
            @extend %hds-button;
            margin: 0;

            &:active {
                box-shadow: none !important;
            }

            &:hover {
                box-shadow: none !important;
            }
        }

        .sbi_follow_btn_link {
            @extend %hds-button;
            @extend %hds-button--secondary;

            svg {
                width: 24px;
            }
        }

        //fixes style bug only present in pro plugin
        a {
            border-bottom-style: solid !important;
            border-bottom-width: 2px !important;
            border-bottom-color: $black !important;

            &.sbi_load_btn:focus {
                border-bottom-color: $white !important;
            }
        }
        
    }
}

#cff {

    .cff-posts-wrap {

        @media only screen and (min-width: 480px) {
            margin-left: -12px;
            width: calc(100% + 24px) !important;
        }

        .cff-item {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: 100% !important;

            @media only screen and (min-width: 480px) {
                margin-left: 12px !important;
                margin-right: 12px !important;
                width: calc(33.33333333333333% - 24px) !important;
            }

        }
    }

    a.cff-load-more {
        @extend %hds-button;
        width: unset;
        margin-right: 10px;
        text-decoration: none;

        .cff-loader {
            background-color: rgba(255,255,255,.5) !important;
        }

        &:hover {
            .cff-loader {
                background-color: rgba(0,0,0,.5) !important;
            }
        }
    }

    a.cff-follow-link {
        margin-top: 10px;
        text-decoration: none !important;
    }

    .cff-view-comments {
        pointer-events: none;
    }

    .cff-meta-wrap {
        .cff-meta {
            li {
                margin-right: 16px !important;
            }
        }
    }

}