#sb_instagram {

    overflow: visible !important;
    
	margin-bottom: $paragraph-margin-bottom-small;

	@include breakpoint('m') {
		margin-bottom: $paragraph-margin-bottom-big;
	}

    #sbi_images {
        padding: 0 !important;
        margin-left: -8px !important;
        width: calc(100% + 16px);

        .sbi_item {
            padding: 8px !important;
        }

    }

    #sbi_load {
        float:none;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 16px;

        .sbi_load_btn {
            @extend %hds-button;
            margin: 0;

            &:active {
                box-shadow: none !important;
            }

            &:hover {
                box-shadow: none !important;
            }
        }

        .sbi_follow_btn_link {
            @extend %hds-button;
            @extend %hds-button--secondary;

            svg {
                width: 24px;
            }
        }

        //fixes style bug only present in pro plugin
        a {
            border-bottom-style: solid !important;
            border-bottom-width: 2px !important;
            border-bottom-color: $black !important;

            &.sbi_load_btn:focus {
                border-bottom-color: $white !important;
            }
        }
        
    }
}

#cff {

    .cff-posts-wrap {

        @media only screen and (min-width: 480px) {
            margin-left: -12px;
            width: calc(100% + 24px) !important;
        }

        .cff-item {
            margin-left: 0 !important;
            margin-right: 0 !important;
            width: 100% !important;

            @media only screen and (min-width: 480px) {
                margin-left: 12px !important;
                margin-right: 12px !important;
                width: calc(33.33333333333333% - 24px) !important;
            }

        }
    }

    .cff-author a {
        font-weight: 500;
    }

    a.cff-load-more {
        @extend %hds-button;
        width: unset;
        margin-right: 10px;
        text-decoration: none;

        .cff-loader {
            background-color: rgba(255,255,255,.5) !important;
        }

        &:hover {
            .cff-loader {
                background-color: rgba(0,0,0,.5) !important;
            }
        }
    }

    a.cff-follow-link {
        margin-top: 10px;
        text-decoration: none !important;
    }

    .cff-view-comments {
        pointer-events: none;
    }

    .cff-meta-wrap {
        .cff-view-comments {
            box-shadow: none;

            .cff-meta {
                li {
                    margin-right: 16px !important;
                }
            }
        }
    }

}

[id^=sb-wall].sb-wall {

    .sb-wall-items-wrap {

        @media only screen and (min-width: 481px) {
            margin-left: -12px;
            width: calc(100% + 24px) !important;
        }

        .sbsw-item {

            @media only screen and (max-width: 480px) {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
    
            .sbsw-item-inner {
                box-shadow: none;
                border-radius: 0;
                border: 1px solid $black;

                .sbsw-item-header, .sbsw-item-footer {
                    padding: 8px;
                }

                .sbsw-item-header {
                    
                    .sbsw-author-name {
                        font-weight: 500;
                        font-size: 18px;
                    }

                    .sbsw-date {
                        font-weight: 400;
                        font-size: 16px;
                        color: #666;
                    }

                }

                .sbsw-content-text {
                    padding: 16px;
                }

            }

        }

    }

    .sb-wall-footer {

        .sb-wall-load-btn {
            @extend %hds-button;
            width: unset;
            box-shadow: none;

            .sbsw-loader {
                background-color: rgba(255,255,255,.5) !important;
            }
    
            &:hover {
                .sbsw-loader {
                    background-color: rgba(0,0,0,.5) !important;
                }
            }
    
        }

    }

    &.sbsw-col-3 {

        @media only screen and (min-width: 481px) {

            .sb-wall-items-wrap {

                .sbsw-item {
                    width: 33.333333% !important;
                }

            }
        }

    }

}