%helsinki-block-spacing {
  --margin-top: var(--spacing-layout-s, 2rem);
  --margin-bottom: var(--spacing-layout-s, 2rem);

  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);

  @include breakpoint('m') {
    --margin-top: var(--spacing-layout-l, 4rem);
    --margin-bottom: var(--spacing-layout-l, 4rem);
  }
}

%helsinki-paragraph-spacing {
  --margin-top: var(--spacing-s, 1rem);
  --margin-bottom: var(--spacing-s, 1rem);

  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
}

%helsinki-block-content-spacing {
  margin-top: spacing('m');

  @include breakpoint('m') {
    margin-top: spacing('2-xl');
  }
}
