%helsinki-block-spacing {
  --vertical-margin: var(--spacing-layout-s, 2rem);

  margin-top: var(--vertical-margin);
  margin-bottom: var(--vertical-margin);

  @include breakpoint('m') {
    --vertical-margin: var(--spacing-layout-l, 4rem);
  }
}

%helsinki-block-content-spacing {
  margin-top: spacing('m');

  @include breakpoint('m') {
    margin-top: spacing('2-xl');
  }
}
