.wp-block-hds-wp-content-cards {
  .content-cards__title {
    margin-top: 0;
  }

  .content-cards__cards {
    .content-cards__card {
      border: none;
      margin-top: 0;
      padding: 0;
      min-width: unset;
      max-width: unset;

      .card__more {
        .icon {
        }
      }
    }
  }
}

.wp-block-hds-wp-video {
  .hds-video.has-background {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100%;
    padding: spacing('l');
  }
}

.wp-block-hds-wp-media-list {
  background-color: $light-gray;
  padding: $global-padding;
  margin-bottom: $global-margin;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  ul {
    margin: 0;
  }
}

.wpra-gutenberg-block {
  .grid {
    display: flex;
    justify-content: space-between;

    .grid__column {
      width: 48%;
    }
  }
}

.wp-block-hds-wp-recent-posts {
  .posts-page {
    a {
      text-decoration: none;
    }
  }
}

.components-notice__actions a {
  padding: 0;
  color: var(
    --wp-components-color-accent,
    var(--wp-admin-theme-color, #007cba)
  );
  text-decoration: underline;
  margin-left: 0;
  margin-right: 12px;
  margin-top: 12px;
}
