.editor-post-title .editor-post-title__input {
  font-weight: $heading-font-weight;
}

.wp-block-embed {
  .wp-block-embed__wrapper {
    &:before {
      padding-top: 56.25%;
      content: '';
      display: block;
    }

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.wp-block-freeform {
  dl {
    border: none;
    padding: 0;
  }
  dt {
    float: none;
    clear: left;
    width: unset;
    text-align: unset;
    color: $black;

    &:after {
      content: '';
    }
  }
}

.wp-block-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.wp-block-button {
  .wp-block-button__link {
    @extend .hds-button;
  }

  &.is-style-secondary {
    .wp-block-button__link {
      @extend .hds-button--secondary;
    }
  }

  &.is-style-supplementary {
    .wp-block-button__link {
      @extend .hds-button--supplementary;
    }
  }
}

.wp-block-button__link,
.wp-block-file__button {
  background-color: $black;
  border-radius: 0;
  color: $white;
  text-decoration: none;
}

.button.hds-button {
  min-height: 56px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hds-button {
  color: $white;

  .icon {
    fill: $white;

    &.mask-icon {
      background-color: $white;
    }
  }

  &:hover {
    color: $black;

    .icon {
      fill: $black;

      &.mask-icon {
        background-color: $black;
      }
    }
  }

  &.hds-button--secondary {
    color: $black;

    .icon {
      fill: $black;

      &.mask-icon {
        background-color: $black;
      }
    }

    &:hover {
      color: $white;

      .icon {
        fill: $white;

        &.mask-icon {
          background-color: $white;
        }
      }
    }
  }

  &.hds-button--supplementary {
    color: $black;

    .icon {
      fill: $black;

      &.mask-icon {
        background-color: $black;
      }
    }

    &:hover {
      color: $black;

      .icon {
        fill: $black;

        &.mask-icon {
          background-color: $black;
        }
      }
    }
  }
}

.content__link {
  > .icon--arrow-right {
    margin: 5px 0 0 5px;
  }
}

.wp-block {
  &.has-black-background-color {
    background-color: transparent !important;
  }
}
