.wp-block {
  max-width: var(--element-max-width, var(--wp--style--global--content-size));
}

.block-editor-block-list__layout.is-root-container > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  margin-left: unset !important;
  margin-right: unset !important;
}

.editor-post-title .editor-post-title__input {
  font-weight: $heading-font-weight;
}

.wp-block-embed {
  .wp-block-embed__wrapper {
    &::before {
      padding-top: 0;
      content: unset;
      display: none;
    }

    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.wp-block-freeform {
  dl {
    border: none;
    padding: 0;
  }
  dt {
    float: none;
    clear: left;
    width: unset;
    text-align: unset;
    color: $black;

    &:after {
      content: '';
    }
  }
}

.wp-block-gallery {
  //disable aspect and custom size options for images within gallery
  &.has-nested-images {
    figure.wp-block-image {
        > div {
            aspect-ratio: unset !important;
            width: unset !important;
            height: unset !important;
            display: flex !important;
        }
    }
  }
}

.content__link {
  > .icon--arrow-right {
    margin: 5px 0 0 5px;
  }
}

.wp-block {
  &.has-black-background-color {
    background-color: transparent !important;
  }
}
