h1,
h2,
h3,
h4,
h5,
h6 {
  --line-height: #{$heading-line-height};

  color: $heading-color;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  hyphens: auto;
  line-height: var(--line-height);
  margin-top: $heading-margin-top;
  margin-bottom: $heading-margin-bottom;
  word-break: $heading-word-wrap;

  &.has-background {
    padding: 0;
  }

}

@include headingStyles();
