.headingLevel .components-base-control {
    width: 100%;
}

#found-posts {
    cursor: pointer;

    a {
        &.selected {
            font-weight: bold;
        }
    }
}

.detach-post-group {
    flex-direction: column;
    align-items: flex-start;

    p {
        font-weight: bold;
    }
}