.headingLevel .components-base-control {
  width: 100%;
}

#found-posts {
  cursor: pointer;

  a {
    &.selected {
      font-weight: bold;
    }
  }
}

.detach-post-group {
  flex-direction: column;
  align-items: flex-start;

  p {
    font-weight: bold;
  }
}

.inspector-errornotice {
  font-weight: 600;
  color: #b01038;
  background-color: #f6e2e6;
  margin: -1rem 0 0.25rem;
  padding: 0.25rem 0.5rem;
}

/* Add a red asterisk after label to indicate required field */
.is-required * label::after {
  color: #cc1818;
  content: ' *';
}

*:required:invalid {
  border-color: #cc1818;

  &:focus {
    border-color: #cc1818;
    box-shadow: 0 0 0 1px #cc1818;
  }
}
