.content {

	.icon {
		display: block;
		transition: $default-transition;
		width: 24px;

		&--link-external {
			width: 16px;
		}
	}

	.content__link {
    display: inline-flex;
    text-decoration: none;

		.icon {
			margin-left: .5rem;
			margin-top: -4px;
		}
	}

}
