.content {

	.icon {
		background-color: transparent;
		display: block;
		transition: $default-transition;
		width: 24px;
	}

	.content__link {
		.icon {
			margin-left: .5rem;
			margin-top: -4px;
		}
	}

}
