.content {

	.icon {
		background-color: transparent;
		display: block;
		transition: $default-transition;
		width: calc(var(--line-height)*1em);	
	}

	.content__link {
    display: inline-flex;
    text-decoration: none;

		.icon {
			margin-left: .5rem;
			margin-top: -4px;
		}
	}

}
