.wp-block-columns {
  @extend %helsinki-block-spacing;

  &.is-layout-flex {
    --gap: var(--spacing-s, 1rem);

    gap: var(--gap);

    @include breakpoint('m') {
      --gap: var(--spacing-layout-l, 4rem);
    }
  }
}

.wp-block-column {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
