cite {
  color: $dark-gray;
  font-style: italic;
}

q {
  font-style: italic;
}

.wp-block-quote,
blockquote {
  @extend %helsinki-block-spacing;

  --border-width: 8px;
  --border-style: solid;
  --border-color: #{var(--primary-color)};

  background: none;
  font-size: fontsize-heading('m');
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border-left: var(--border-width) var(--border-style);
  border-color: var(--border-color);
  padding-block: spacing('2-xs');
  padding-inline-start: spacing('m');

  @include breakpoint('m') {
    font-size: fontsize-heading('l');
    padding-inline-start: spacing('xl');
  }

  > * {
    text-align: var(--text-align, left) !important;
  }

  p {
    font-size: inherit;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;

    @include breakpointMax('m') {
      font-size: rem-calc(24);
    }

    &::before {
      content: '\201C';
    }

    &::after {
      content: '\201D';
    }
  }

  cite {
    display: block;
    color: $body-color;
    font-style: normal;
    font-size: fontsize-heading('xs');
    margin-top: spacing('m');

    &::before {
      content: '- ';
    }
  }
}

[dir="rtl"] {
  .wp-block-quote,
  blockquote.wp-block-quote,
  blockquote {
    --text-align: right;

    border-left: none;
    border-right: var(--border-width) var(--border-style);
    border-color: var(--border-color);
  }
}
