.wp-block-social-links {
    flex-wrap: wrap !important;

    &:not(.is-style-logos-only) {
        .wp-social-link {
            background-color: #000000;
            color: #ffffff;
        }
    }
    &.is-style-logos-only {
        .wp-social-link {
            background-color: transparent;
            color: #000000;
        }
    }
}