.wp-block-video {
    figcaption {
        background: none !important;
        color: $black !important;
        font-size: 16px !important;
        font-style: normal !important;
        text-align: left !important;
        padding: 1rem 0 0 !important;
        position: static !important;
        flex-grow: 0;
        flex-basis: unset;
        margin: 0;
    }
}
