body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: $global-font-size-m;
    line-height: $global-line-height;

    @include breakpoint('l') {
        font-size: $global-font-size;
    }
}

p.has-lead-font-size {
  font-size: rem-calc(20);
}

p.has-small-font-size {
  font-size: rem-calc(16);
}

@include breakpoint('l') {
  p.has-lead-font-size {
    font-size: rem-calc(22);
  }
}
