.wp-block-audio {
    figcaption {
        background: none !important;
        color: $black !important;
        font-size: $global-font-size !important;
        font-style: normal !important;
        text-align: left !important;
        padding: .5rem 0 0 !important;
        position: static !important;
        flex-grow: 0;
        flex-basis: unset;
        margin: 0;
    }
}
