.button,
.hds-button,
%hds-button {
  align-items: center;
  background-color: $black;
  border: 2px solid $black;
  border-radius: 0;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: $global-font-weight-medium;
  justify-content: center;
	min-height: 56px;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: $default-transition;
  outline-offset: 2px;

  svg {
		fill: $white;
    margin-left: 1rem !important;
    margin-top: 0 !important;
    flex-shrink: 0;
	}

  &:hover {
    background-color: transparent;
    color: $black;

    svg {
  		fill: $black;
  	}
  }

  &:focus {
    outline: 3px solid $black;
  }

  &:disabled,
  &[disabled],
  .disabled {
    background-color: $medium-gray;
    border-color: $medium-gray;
    color: $white;
    cursor: default;

    svg {
  		fill: $medium-gray;
  	}

    &:focus {
      outline: none;
    }
  }

  &--secondary {
    background-color: transparent;
    color: $black;

    svg {
  		fill: $black;
  	}

    &:hover {
      background-color: $black;
      color: $white;

      svg {
    		fill: $white;
    	}
    }

    &:focus {
      outline: 3px solid $black;
    }

    &:disabled,
    &[disabled],
    .disabled {
      background-color: transparent;
      border-color: $medium-gray;
      color: $medium-gray;

      svg {
    		fill: $medium-gray;
    	}

      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $medium-gray;
        color: $medium-gray;
      }
    }
  } // --secondary

  &--supplementary {
    background-color: transparent;
    border-color: transparent;
    color: $black;

    svg {
      fill: $black;
    }

    &:hover {
      background-color: var(--color-black-5);
      color: $black;
    }

    &:focus {
      outline: 3px solid $black;
    }

    &:disabled,
    &[disabled],
    .disabled {
      background-color: transparent;
      border-color: transparent;
      color: $medium-gray;
      text-decoration: none;

      svg {
        fill: $medium-gray;
      }

      &:hover,
      &:focus {
        background-color: transparent;
        border-color: $white;
        color: $medium-gray;
      }
    }
  } // --supplementary

  &--small {
	  min-height: 44px;
    padding: .5rem 1.5rem;

    &:focus {
      outline: 2px solid $dark-gray;
    }
  } // --small

}

%hds-button--secondary {
  background-color: transparent;
  color: $black;

  svg {
    fill: $black;
  }

  &:hover {
    background-color: $black;
    color: $white;

    svg {
      fill: $white;
    }
  }

  &:focus {
    outline: 3px solid $black;
  }

  &:disabled,
  &[disabled],
  .disabled {
    background-color: transparent;
    border-color: $medium-gray;
    color: $medium-gray;

    svg {
      fill: $medium-gray;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: $medium-gray;
      color: $medium-gray;
    }
  }
} // --secondary

.wp-block-buttons {
    margin-bottom: spacing('l');
}

%inverted-button {
	background-color: $white;
	border-color: $white;
	color: $black;

	.icon {
		fill: $black;
	}


	&:hover {
		background-color: transparent;
		color: $white;

		.icon {
			fill: $white;
		}
	}

  &:focus {
    outline-color: $white;
  }

	&.hds-button--secondary {
		background-color: transparent;
		border-color: $white;
		color: $white;

		.icon {
			fill: $white;
		}

		&:hover {
			background-color: $white;
			color: $black;

			.icon {
				fill: $black;
			}
		}

    &:focus {
      outline-color: $white;
    }

	}
}