.hds-pagination-container {
  @import '../../../node_modules/hds-core/lib/components/pagination/pagination';

  text-align: center;

  .hds-pagination__item-link {
    aspect-ratio: 1;
  }

  .hds-button {
    --button-background-color: transparent;
    --button-color: #{$black};
    --button-icon-color: #{$black};

    &[disabled] {
      --button-color: var(--color-black-40);
      --button-icon-color: var(--color-black-40);
    }
  }
}
