/**
  * Base
  */
@import '../node_modules/hds-core/lib/base';

/**
  * Utilities
  */
@import '../node_modules/hds-core/lib/utils/animations';
// @import '../node_modules/hds-core/lib/utils/helpers'; // included in base

/**
  * Icons
  */
 @import '../node_modules/hds-core/lib/icons/all';
// @import '../node_modules/hds-core/lib/icons/icon';

// UI
// @import '../node_modules/hds-core/lib/icons/ui/icon-alert-circle';
// @import '../node_modules/hds-core/lib/icons/ui/icon-alert-circle-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-angle-down';
// @import '../node_modules/hds-core/lib/icons/ui/icon-angle-left';
// @import '../node_modules/hds-core/lib/icons/ui/icon-angle-right';
// @import '../node_modules/hds-core/lib/icons/ui/icon-angle-up';
// @import '../node_modules/hds-core/lib/icons/ui/icon-arrow-down';
// @import '../node_modules/hds-core/lib/icons/ui/icon-arrow-left';
// @import '../node_modules/hds-core/lib/icons/ui/icon-arrow-redo';
// @import '../node_modules/hds-core/lib/icons/ui/icon-arrow-right';
// @import '../node_modules/hds-core/lib/icons/ui/icon-arrow-undo';
// @import '../node_modules/hds-core/lib/icons/ui/icon-arrow-up';
// @import '../node_modules/hds-core/lib/icons/ui/icon-bell';
// @import '../node_modules/hds-core/lib/icons/ui/icon-bell-crossed';
// @import '../node_modules/hds-core/lib/icons/ui/icon-cake';
// @import '../node_modules/hds-core/lib/icons/ui/icon-calendar';
// @import '../node_modules/hds-core/lib/icons/ui/icon-calendar-clock';
// @import '../node_modules/hds-core/lib/icons/ui/icon-calendar-cross';
// @import '../node_modules/hds-core/lib/icons/ui/icon-calendar-plus';
// @import '../node_modules/hds-core/lib/icons/ui/icon-calendar-recurring';
// @import '../node_modules/hds-core/lib/icons/ui/icon-camera';
// @import '../node_modules/hds-core/lib/icons/ui/icon-check';
// @import '../node_modules/hds-core/lib/icons/ui/icon-check-circle';
// @import '../node_modules/hds-core/lib/icons/ui/icon-check-circle-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-clock';
// @import '../node_modules/hds-core/lib/icons/ui/icon-clock-cross';
// @import '../node_modules/hds-core/lib/icons/ui/icon-clock-plus';
// @import '../node_modules/hds-core/lib/icons/ui/icon-cogwheel';
// @import '../node_modules/hds-core/lib/icons/ui/icon-cross';
// @import '../node_modules/hds-core/lib/icons/ui/icon-cross-circle';
// @import '../node_modules/hds-core/lib/icons/ui/icon-cross-circle-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-display';
// @import '../node_modules/hds-core/lib/icons/ui/icon-download';
// @import '../node_modules/hds-core/lib/icons/ui/icon-download-cloud';
// @import '../node_modules/hds-core/lib/icons/ui/icon-drag';
// @import '../node_modules/hds-core/lib/icons/ui/icon-envelope';
// @import '../node_modules/hds-core/lib/icons/ui/icon-error';
// @import '../node_modules/hds-core/lib/icons/ui/icon-error-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-eye';
// @import '../node_modules/hds-core/lib/icons/ui/icon-eye-crossed';
// @import '../node_modules/hds-core/lib/icons/ui/icon-face-neutral';
// @import '../node_modules/hds-core/lib/icons/ui/icon-face-sad';
// @import '../node_modules/hds-core/lib/icons/ui/icon-face-smile';
// @import '../node_modules/hds-core/lib/icons/ui/icon-globe';
// @import '../node_modules/hds-core/lib/icons/ui/icon-glyph-at';
// @import '../node_modules/hds-core/lib/icons/ui/icon-glyph-euro';
// @import '../node_modules/hds-core/lib/icons/ui/icon-group';
// @import '../node_modules/hds-core/lib/icons/ui/icon-heart';
// @import '../node_modules/hds-core/lib/icons/ui/icon-heart-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-home';
// @import '../node_modules/hds-core/lib/icons/ui/icon-home-smoke';
// @import '../node_modules/hds-core/lib/icons/ui/icon-info-circle';
// @import '../node_modules/hds-core/lib/icons/ui/icon-info-circle-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-layers';
// @import '../node_modules/hds-core/lib/icons/ui/icon-link';
// @import '../node_modules/hds-core/lib/icons/ui/icon-link-external';
// @import '../node_modules/hds-core/lib/icons/ui/icon-locate';
// @import '../node_modules/hds-core/lib/icons/ui/icon-location';
// @import '../node_modules/hds-core/lib/icons/ui/icon-lock';
// @import '../node_modules/hds-core/lib/icons/ui/icon-lock-open';
// @import '../node_modules/hds-core/lib/icons/ui/icon-map';
// @import '../node_modules/hds-core/lib/icons/ui/icon-menu-dots';
// @import '../node_modules/hds-core/lib/icons/ui/icon-menu-hamburger';
// @import '../node_modules/hds-core/lib/icons/ui/icon-microphone';
// @import '../node_modules/hds-core/lib/icons/ui/icon-microphone-crossed';
// @import '../node_modules/hds-core/lib/icons/ui/icon-minus';
// @import '../node_modules/hds-core/lib/icons/ui/icon-minus-circle';
// @import '../node_modules/hds-core/lib/icons/ui/icon-minus-circle-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-mobile';
// @import '../node_modules/hds-core/lib/icons/ui/icon-paperclip';
// @import '../node_modules/hds-core/lib/icons/ui/icon-pen';
// @import '../node_modules/hds-core/lib/icons/ui/icon-pen-line';
// @import '../node_modules/hds-core/lib/icons/ui/icon-person-female';
// @import '../node_modules/hds-core/lib/icons/ui/icon-person-male';
// @import '../node_modules/hds-core/lib/icons/ui/icon-person-wheelchair';
// @import '../node_modules/hds-core/lib/icons/ui/icon-phone';
// @import '../node_modules/hds-core/lib/icons/ui/icon-photo';
// @import '../node_modules/hds-core/lib/icons/ui/icon-photo-plus';
// @import '../node_modules/hds-core/lib/icons/ui/icon-playback-fastforward';
// @import '../node_modules/hds-core/lib/icons/ui/icon-playback-next';
// @import '../node_modules/hds-core/lib/icons/ui/icon-playback-pause';
// @import '../node_modules/hds-core/lib/icons/ui/icon-playback-play';
// @import '../node_modules/hds-core/lib/icons/ui/icon-playback-previous';
// @import '../node_modules/hds-core/lib/icons/ui/icon-playback-record';
// @import '../node_modules/hds-core/lib/icons/ui/icon-playback-rewind';
// @import '../node_modules/hds-core/lib/icons/ui/icon-playback-stop';
// @import '../node_modules/hds-core/lib/icons/ui/icon-plus';
// @import '../node_modules/hds-core/lib/icons/ui/icon-plus-circle';
// @import '../node_modules/hds-core/lib/icons/ui/icon-plus-circle-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-podcast';
// @import '../node_modules/hds-core/lib/icons/ui/icon-printer';
// @import '../node_modules/hds-core/lib/icons/ui/icon-question-circle';
// @import '../node_modules/hds-core/lib/icons/ui/icon-question-circle-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-refresh';
// @import '../node_modules/hds-core/lib/icons/ui/icon-search';
// @import '../node_modules/hds-core/lib/icons/ui/icon-share';
// @import '../node_modules/hds-core/lib/icons/ui/icon-signin';
// @import '../node_modules/hds-core/lib/icons/ui/icon-signout';
// @import '../node_modules/hds-core/lib/icons/ui/icon-sliders';
// @import '../node_modules/hds-core/lib/icons/ui/icon-sort';
// @import '../node_modules/hds-core/lib/icons/ui/icon-sort-alphabetical-ascending';
// @import '../node_modules/hds-core/lib/icons/ui/icon-sort-alphabetical-descending';
// @import '../node_modules/hds-core/lib/icons/ui/icon-sort-ascending';
// @import '../node_modules/hds-core/lib/icons/ui/icon-sort-descending';
// @import '../node_modules/hds-core/lib/icons/ui/icon-speechbubble';
// @import '../node_modules/hds-core/lib/icons/ui/icon-speechbubble-text';
// @import '../node_modules/hds-core/lib/icons/ui/icon-star';
// @import '../node_modules/hds-core/lib/icons/ui/icon-star-fill';
// @import '../node_modules/hds-core/lib/icons/ui/icon-ticket';
// @import '../node_modules/hds-core/lib/icons/ui/icon-trash';
// @import '../node_modules/hds-core/lib/icons/ui/icon-upload';
// @import '../node_modules/hds-core/lib/icons/ui/icon-upload-cloud';
// @import '../node_modules/hds-core/lib/icons/ui/icon-user';
// @import '../node_modules/hds-core/lib/icons/ui/icon-videocamera';
// @import '../node_modules/hds-core/lib/icons/ui/icon-videocamera-crossed';
// @import '../node_modules/hds-core/lib/icons/ui/icon-volume-high';
// @import '../node_modules/hds-core/lib/icons/ui/icon-volume-low';
// @import '../node_modules/hds-core/lib/icons/ui/icon-volume-minus';
// @import '../node_modules/hds-core/lib/icons/ui/icon-volume-mute';
// @import '../node_modules/hds-core/lib/icons/ui/icon-volume-plus';
// @import '../node_modules/hds-core/lib/icons/ui/icon-wifi';
// @import '../node_modules/hds-core/lib/icons/ui/icon-wifi-crossed';
// @import '../node_modules/hds-core/lib/icons/ui/icon-zoom-in';
// @import '../node_modules/hds-core/lib/icons/ui/icon-zoom-out';
// @import '../node_modules/hds-core/lib/icons/ui/icon-zoom-text';

// Social Media
// @import '../node_modules/hds-core/lib/icons/some/icon-discord';
// @import '../node_modules/hds-core/lib/icons/some/icon-facebook';
// @import '../node_modules/hds-core/lib/icons/some/icon-google';
// @import '../node_modules/hds-core/lib/icons/some/icon-instagram';
// @import '../node_modules/hds-core/lib/icons/some/icon-linkedin';
// @import '../node_modules/hds-core/lib/icons/some/icon-rss';
// @import '../node_modules/hds-core/lib/icons/some/icon-snapchat';
// @import '../node_modules/hds-core/lib/icons/some/icon-tiktok';
// @import '../node_modules/hds-core/lib/icons/some/icon-twitch';
// @import '../node_modules/hds-core/lib/icons/some/icon-twitter';
// @import '../node_modules/hds-core/lib/icons/some/icon-vimeo';
// @import '../node_modules/hds-core/lib/icons/some/icon-yle';
// @import '../node_modules/hds-core/lib/icons/some/icon-youtube';

/**
  * Components
  */
// @import '../node_modules/hds-core/lib/components/all';
// @import '../node_modules/hds-core/lib/components/button/button';
@import '../node_modules/hds-core/lib/components/card/card';
@import '../node_modules/hds-core/lib/components/checkbox/checkbox';
@import '../node_modules/hds-core/lib/components/container/container';
@import '../node_modules/hds-core/lib/components/error-summary/error-summary';
@import '../node_modules/hds-core/lib/components/koros/koros';
@import '../node_modules/hds-core/lib/components/loading-spinner/loading-spinner';
@import '../node_modules/hds-core/lib/components/notification/notification';
@import '../node_modules/hds-core/lib/components/radio-button/radio-button';
@import '../node_modules/hds-core/lib/components/selection-group/selection-group';
@import '../node_modules/hds-core/lib/components/status-label/status-label';
@import '../node_modules/hds-core/lib/components/tag/tag';
@import '../node_modules/hds-core/lib/components/text-input/text-input';
//@import '../node_modules/hds-core/lib/components/pagination/pagination';
