.wp-block-hds-wp-accordion {
	@extend %helsinki-block-spacing;

	.accordion__section {
		margin: 0;
		padding: 0;
		border-bottom: $default-border;

		&:first-child {
			border-top: $default-border;
		}
	}

	.accordion__title {
		font-size: rem-calc(20);
		margin: 0;
		max-width: unset;

		@include breakpoint('m') {
			font-size: rem-calc(24);
		}

		@include breakpoint('l') {
			font-size: rem-calc(24);
		}
	}

	.accordion-description {
		 &.block-editor-rich-text__editable {
			margin-bottom: spacing('l');
		 }

		 p {
            &:last-child {
                margin-bottom: 0;
            }
        }

	}

	.accordion {
		@extend %helsinki-block-content-spacing;
	}

	.accordion__toggle {
		background-color: transparent;
		border: none;
		display: flex;
		padding: spacing('s') 0;
		--line-height: 26px;
		line-height: 26px;
		font-weight: $global-font-weight-medium;
		margin: 0;
		text-align: left;
		width: 100%;
		align-items: center;

		.accordion__icon {
			margin-left: auto;

			.icon {
				transform: rotate(180deg);
				width: 30px;
				height: 30px;
			}
		}

		&[aria-expanded="true"] {
			.accordion__icon {
				.icon {
					transform: rotate(0deg);
				}
			}
		}


		@include breakpoint('l') {
      --line-height: 28px;
			line-height: 28px;
			padding-top: spacing('m');
			padding-bottom: spacing('m');

			.icon {
				width: 32px;
			}
		}
	}

	.accordion__panel {
		padding: spacing('m') 0 spacing('2-xs');

		@include breakpoint('l') {
			padding-bottom: spacing('s');
		}
	}

	.accordion__content {
		font-size: rem-calc(18);
		max-width: 780px;
	}

	.accordion__close {
		display: flex;
		align-items: center;
		font-size: rem-calc(16);
		padding: 0 8px;
		margin: spacing('m') 0 0 auto;
		min-height: 44px;

		> span {
			--line-height: 22px;
			line-height: 22px;
		}

		.icon {
			margin-top: -4px;
		}

		@include breakpoint('l') {
			margin-top: spacing('l');
		}
	}

	.icon {
		width: 24px;
		transition: $default-transition;
	}

}
