.wp-block-hds-wp-banner {
	background-color: var(--primary-color);
	color: $white;
	margin-bottom: $paragraph-margin-bottom;

	* {
		color: inherit;
	}

	.content {
		padding: spacing('xl') spacing('m') spacing('2-xl');

		&__inner {

			&--icon {
				svg {
					fill: $white;
					margin-bottom: spacing('s');
					width: 64px;
				}
			}

			&--text {}

			&--button {}

		}

		&__heading {
			font-size: rem-calc(24);
			margin: 0 0 spacing('s');
		}

		&__text {
			font-size: rem-calc(18);
			margin: 0 0 spacing('m');
		}

		&__link {
			background-color: $white;
			color: $black;

			svg {
				fill: $black;
			}

			&:focus,
			&:hover {
				background-color: $black;
				color: $white;

				svg {
					fill: $white;
				}
			}
		}

		@include breakpoint('m') {
      padding: spacing('l');

			&__inner {

				&--icon {
          float: left;

					svg {
						width: 72px;
					}
				}

				&--text {
					margin-left: rem-calc(104);
          max-width: 72%;
				}

				&--button {
					margin-left: rem-calc(104);
				}

			}
		}

		@include breakpoint('l') {
      padding: spacing('layout-m') spacing('s') spacing('3-xl');

			&__heading {
				font-size: rem-calc(36);
  			margin-bottom: spacing('l');
			}

			&__inner {

        &--icon {
					svg {
						width: 100px;
					}
				}

				&--text {
				 margin-left: rem-calc(124);
         max-width: 65%;
				}

				&--button {
					margin-left: rem-calc(124);
				}

			}

		}

		@include breakpoint('xl') {
      padding: spacing('xl') spacing('m') spacing('layout-m');

      &__heading {
  			margin-bottom: spacing('s');
			}

			&__inner {

				&--text {
					margin-left: rem-calc(148);
          max-width: 67%;
				}

				&--button {
					margin-left: rem-calc(148);
				}

			}
		}

	}

}
