.links-list {
	@extend %helsinki-block-spacing;

    .links-list__koros {
        background-color: $white;
        height: 42px;
        margin-bottom: spacing('xl');

        @include breakpoint('l') {
            margin-bottom: spacing('3-xl');
        }

        svg {
            fill: $light-gray;
        }
    }

    .hds-container {
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .links-list__decoration {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-45%,-50%);

        svg {
            width: 125px;

            path {
                fill: #dedfe1;
            }
        }

        @include breakpoint('l') {
            svg {
                width: 220px;
            }
        }
    }

    .links-list__title {
        position: relative;

        span {
            position: relative;
        }

    }

    .links-list__description {
        margin: 0;
    }

    .link {
        text-decoration: none;
        position: relative;

        .link__thumbnail {
            position: relative;
            overflow: hidden;

            img {
                @include absoluteCenter();
                object-fit: cover;
                display: block;
                min-height: 100%;
                min-width: 100%;
                max-width: 100%;
            }

            &.has-placeholder {
                background-color: var(--primary-color);
            }

            .icon {
                @include absoluteCenter();
                max-width: 180px;
                width: 30%;

                path {
                    fill: $black;
                }
            }
        }

        .link__title_link {
            display: inline-block;
            word-break: break-word;
            hyphens: auto;
            &:after {
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .link__title_link {
            font-size: rem-calc(20);
            --line-height: 24px;
            line-height: 24px;
            margin: 0;

            span {
                text-decoration: underline;
            }

            .icon {
                height: 24px;
                width: 24px;
                min-width: 24px;

                &--link-external {
                    width: 24px;
                }
            }

            @include breakpoint('m') {
                font-size: rem-calc(24);

                span {
                }

                .icon {
                    height: 48px;
                    width: 48px;
                    min-width: 48px;

                    &--link-external {
                        width: 24px;
                    }
                }
            }
        }

        .link__excerpt {
            font-size: rem-calc(16);
            color: $dark-gray;
            margin-top: spacing('2-xs');
            margin-bottom: 0;

            @include breakpoint('m') {
                font-size: rem-calc(18);
            }
        }

        &:focus,
        &:hover {
            .link__title_link {
                span {
                    text-decoration: none;
                }
            }
        }
    }

    .links-list__links {
        list-style: none;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
        position: relative;
        max-width: none;
        display: flex;
        flex-direction: column;
        row-gap: spacing('l');

        @extend %helsinki-block-content-spacing;

        .links-list__item {
            margin-top: 0;
        }

        &--title,
        &--title-excerpt {
            .links-list__item {
                .link__title_link {
                    align-items: center;
                    display: inline-flex;

                    span {
                        @include breakpoint('m') {
                            align-self: start;
                            padding-top: 12px;
                        }
                    }

                    .icon {
                        margin-left: spacing('2-xs');
                    }
                }

                &:hover {
                    .link__title_link {
                        .icon {
                            translate: spacing('s');
                        }
                    }
                }
            }
        }

        &--title-excerpt {
            .links-list__item {

                @include breakpoint('l') {
                    margin-bottom: spacing('5-xl');
                }
            }
        }

        &--image-title {
            .links-list__item {
                margin-bottom: spacing('s');

                .link {
                    display: flex;
                    align-items: center;

                    .link__thumbnail {
                        height: 86px;
                        margin-right: spacing('s');
                        min-width: 86px;
                        width: 86px;
                    }

                    .link__title_link {
                        span {
                            display: block;
                            text-decoration: none;
                        }

                        .icon {
                            margin-top: spacing('s');
                            margin-left: calc(var(--spacing-2-xs) * -1);
                        }
                    }

                    &:focus,
                    &:hover {
                        .link__title_link {
                            span {
                                text-decoration: underline;
                            }

                            .icon {
                                translate: spacing('s');
                            }
                        }
                    }
                }

                @include breakpoint('m') {
                    .link {
                        display: block;

                        .link__thumbnail {
                            height: auto;
                            margin-bottom: spacing('m');
                            padding-top: 100%;
                            width: 100%;
                        }
                    }
                }

                @include breakpoint('l') {
                    margin-bottom: spacing('l');
                }
            }
        }

        @include breakpoint('m') {
            column-gap: 24px;
            flex-wrap: wrap;
            justify-content: left;
            flex-direction: row;

            .links-list__item {
                flex: 0 0 calc(50% - 14px);
            }
        }

        @include breakpoint('l') {
            row-gap: spacing('3-xl');
        }

        @include breakpoint('l') {
            &--3 {
                .links-list__item {
                    flex: 0 0 calc(33% - 16px);
                }
            }

            &--4 {
                .links-list__item {
                    flex: 0 0 calc(25% - 18px);
                }
            }
        }
    }


    &.has-background {
        background-color: $light-gray;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        max-width: 100vw;
        padding-bottom: 0;
        width: 100vw;
        margin-bottom: spacing('l');

        @include breakpoint('l') {
            margin-bottom: spacing('4-xl');
        }

        .links-list__title {
            margin-top: 0;
        }

        .links-list__links {
            padding-bottom: spacing('l');

            @include breakpoint('l') {
                padding-bottom: spacing('3-xl');
            }
        }
    }

    &:not(.has-background) {

        .hds-container {
            padding: 0;
        }
    }
}

.has-invert-color {

    .links-list {

        .link {

            .link__thumbnail {

                .icon {

                    path {
                        fill: $white;
                    }
                }
            }
        }
    }
}

.has-sidebar:not(.home) {
    .links-list {

        .links-list__koros {
            display: none;
        }

        .hds-container {
            padding: 0;
        }

        .link {

            .link__thumbnail {
            }
        }

        &.has-background {
            margin-left: 0;
            margin-right: 0;
            max-width: unset;
            width: unset;
            padding: spacing('l');

            @include breakpointMax('l') {
                padding: spacing('l') spacing('s');
            }
        }
    }
}