.recent-posts {
	@extend %helsinki-block-spacing;

    .posts-page {

        .link-wrap {
            display: inline-block;

            a {
                &:focus,
                &:hover {
                    svg {

                    }
                }
            }
        }
    }

    .hds-container {
        padding-left: 0;
        padding-right: 0;
    }

    .entries {
        @extend %helsinki-block-content-spacing;
    }

    .entry__thumbnail {
        .icon {
            path {
                fill: $black;
            }
        }
    }

}

.has-sidebar {
	
    .recent-posts {

        .grid {
            @include breakpoint('l') {
                $gutter: map-get($gutters, 'l');

                .grid__column {
                    width: calc(50% - #{$gutter} / 2);
                }
            }
        }
    }
}