.hds-video {
  padding-bottom: $paragraph-margin-bottom-medium;
  padding-top: $paragraph-margin-bottom-medium;

  @include breakpoint('m') {
    padding-bottom: $paragraph-margin-bottom-big;
    padding-top: $paragraph-margin-bottom-big;
  }
	@extend %helsinki-block-spacing;

  h2 {
    margin-top: 1rem;
  }

  p {
    margin: 0;
  }

  figure {
    margin: 0;
  }

  figcaption {
    span + span {
      margin-inline-start: .25rem;
    }
  }

  h3  {
    margin-top: var(--spacing-2-xl);

    + .hds-video__container {
      margin-top: 0;
    }
  }

  &.has-background {
    background-color: $light-gray;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw;
    margin-bottom: spacing('l');

    @include breakpoint('l') {
      margin-bottom: spacing('4-xl');
    }

    .links-list__title {
      margin-top: 0;
    }
  }

  &:not(.has-background) {
    .hds-container {
      padding: 0;
    }
  }

  iframe   {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  @include breakpointMax('s') {
    iframe   {
      width: 100%;
      height: auto;
      aspect-ratio: 1 / 1;
      border: none;
    }
  }

  &__container {
    position: relative;
    @extend %helsinki-block-content-spacing;
  }

  .skip-link {
    --border-width: 2px;
    --border-color: var(--color-white);
    --outline-width: 3px;
    --background-color: #121212;
    --color: var(--color-white);
    --focus-outline-color: #121212;
    word-wrap: normal;
    background-color: #121212;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    font-weight: 500;
    left: 50%;
    max-width: 90%;
    position: absolute;
    scroll-margin-top: 105px;
    text-align: center;
    text-decoration: none;
    transform: translate(-50%, 0);
    transition: transform ease-out 0.2s;
    width: -moz-max-content;
    width: max-content;
    z-index: 2;
  }

  @media (prefers-reduced-motion) {
    .skip-link {
      transition: none;
    }
  }

  .skip-link:not(:focus) {
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    max-height: 1px;
    max-width: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  @media (min-width: 768px) {
    .skip-link {
      scroll-margin-top: 24px;
    }
  }

  .skip-link:focus,
  .skip-link:active {
    outline: 3px solid #121212;
    outline-offset: 0;
    padding: 8px 24px;
  }

  .skip-link:hover {
    text-decoration: underline;
  }

  .skip-link--video--before:focus,
  .skip-link--video--before:active {
    transform: translate(-50%, 24px);
  }
  .skip-link--video--after {
    bottom: 0px;
  }
  .skip-link--video--after:focus,
  .skip-link--video--after:active {
    transform: translate(-50%, -24px);
  }
}

.has-sidebar:not(.home) {
  .hds-video {
    .hds-container {
      padding: 0;
    }
    &.has-background {
      margin-left: 0;
      margin-right: 0;
      max-width: unset;
      width: unset;
      padding: spacing('l');
      padding-bottom: spacing('xl');

      @include breakpointMax('l') {
        padding: spacing('l') spacing('s');
      }
    }
  }
}

.block-embed-external-link {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  text-decoration: underline;
  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
  }
}

.block-editor-block-list__block .hds-video__link {
  margin-top: -1.5rem;
}

.block-editor-block-list__block {
  .hds-video {
    @media screen and (max-width: 1670px) {
      &.has-background {
        background-color: $light-gray;
        margin-left: 0;
        margin-right: 0;
        max-width: 100vw;
        width: 100% !important;
        padding: spacing('l') spacing('s');
      }
    }
  }
}
